fastapi[standard]

uvicorn
httpx
tqdm

google-genai
langchain
langchain-qdrant
langchain-google-genai
langchain-openai
langchain-ollama
langchain-huggingface
langchain-community

qdrant-client

sentence-transformers>=3.3.0
transformers>=4.47.0

torch==2.4.0
accelerate==0.33.0

FlagEmbedding
peft>=0.14.0

python-jose[cryptography]
passlib[bcrypt]

sqlalchemy
pydantic-settings
python-dotenv